<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Individual Map Page</title>
  <meta name="description" content="you wanna go to the bathroom?">
  <meta name="author" content="MMA">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <style>
    .createmapcontainer {
      padding-top: 2rem;
    }

    #Map {
      float: left;
      margin: 2em;
      width: 70%;
    }

    #Longitude {
      display: none;
    }

    #Latitude {
      display: none;
    }
  </style>
</head>

<body>

  <% include partials/_nav %>


  <main class="createmapcontainer">



    <!-- the code below is some quick styling. there is a form there, but please use the older form below for post requests  -->
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div id="map"></div>
        </div>
        <div class="col-md">
          <header>
            <h2 class="pickcity"><%= title %></h2>
          </header>
          <p>
            <%= description %>
          </p>
          <form id="submitForm" class="form-group" action="/PointsRoutes" method="post">
            <div>
              Add a Marker and Tell us the Address:
              <input type="text" id="title" class="form-control" name='title' placeholder="Enter map name here"><br>

              Describe what it's like:
              <textarea type="text" id="description" class="form-control" name='description'
                placeholder="Enter description here" rows="3"></textarea></textarea>


              <input type="text" id="Longitude" class="form-control" name='long' placeholder="Longitude"><br>


              <input type="text" id="Latitude" name='lat' placeholder="Latitude"><br>
              <input type="text" id="place" name='stuff'>


              <input type="submit" class="btn btn-primary">
            </div>
          </form>

        </div>
      </div>
    </div>




  </main>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY_vuhzmSgKE3XRutXaWk2MUstXdnrKZY&callback=initMap">
    </script>
  <script>

    var lng = parseFloat('<%= long %>');
    var lat = parseFloat('<%= lat %>');
    var tryME = window.location.pathname.slice(12);
    document.getElementById("place").value = tryME;
    var markers = '<%- markers %>';

  </script>
  <!-- mesel's working individual map js -->


  <!-- working points js file below -->
  <script type="text/javascript" src="/scripts/populatemap.js"></script>

  <!-- bootstrap stuff -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>